# Cluster analysis

<p>Cluster Analysis: Based on the bike rental demand patterns, can you identify clusters of trip types
and/or customer types? How would you label these clusters? Can you cluster the locations based on
their demand pattern?</p>

In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Data set import

In [11]:
# read data
# we will work with a reduced data set at first
DF_bikesharing = pd.read_csv('.\data\chicago_2017_REDUCED.csv', index_col=0)

DF_bikesharing.head()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_hour,start_day,start_month,start_weekday,max_temp,min_temp,precip,start_long,start_lat,end_lat,end_long
6,2017-01-01 00:11:34,2017-01-01 00:23:47,194,68,1145,Subscriber,0,1,1,6,-0.6,-0.6,0.0,-87.626030,41.886875,41.875885,-87.640795
19,2017-01-01 00:27:45,2017-01-01 00:31:13,128,130,5557,Subscriber,0,1,1,6,-0.6,-0.6,0.0,-87.677220,41.895769,41.903310,-87.676950
28,2017-01-01 00:35:32,2017-01-01 00:48:07,28,340,2788,Subscriber,0,1,1,6,-0.6,-0.6,0.0,-87.643320,41.914680,41.929546,-87.643118
30,2017-01-01 00:37:02,2017-01-01 00:48:43,38,26,2556,Subscriber,0,1,1,6,-0.6,-0.6,0.0,-87.630876,41.886021,41.891020,-87.617300
59,2017-01-01 01:22:16,2017-01-01 01:35:11,24,194,2535,Customer,1,1,1,6,-2.2,-2.2,0.0,-87.620620,41.891860,41.886875,-87.626030

In [16]:
# Firstly dropping the start_time & end_time
DF_bikesharing.drop(["start_time","end_time"], axis=1, inplace=True)

In [20]:
# Replacing user_type Subscriber, Customer & Dependant by 1, 2, 3

BS_scaled=DF_bikesharing.replace(['Subscriber', 'Customer', 'Dependent'], [1, 2, 3])
BS_scaled.head()

,start_station_id,end_station_id,bike_id,user_type,start_hour,start_day,start_month,start_weekday,max_temp,min_temp,precip,start_long,start_lat,end_lat,end_long
6,194,68,1145,1,0,1,1,6,-0.6,-0.6,0.0,-87.626030,41.886875,41.875885,-87.640795
19,128,130,5557,1,0,1,1,6,-0.6,-0.6,0.0,-87.677220,41.895769,41.903310,-87.676950
28,28,340,2788,1,0,1,1,6,-0.6,-0.6,0.0,-87.643320,41.914680,41.929546,-87.643118
30,38,26,2556,1,0,1,1,6,-0.6,-0.6,0.0,-87.630876,41.886021,41.891020,-87.617300
59,24,194,2535,2,1,1,1,6,-2.2,-2.2,0.0,-87.620620,41.891860,41.886875,-87.626030

In [21]:
# Scaling the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(BS_scaled)
X_scaled = scaler.transform(BS_scaled)
X_scaled_df = pd.DataFrame(X_scaled, columns=BS_scaled.columns, index=BS_scaled.index)
X_scaled_df.head()

,start_station_id,end_station_id,bike_id,user_type,start_hour,start_day,start_month,start_weekday,max_temp,min_temp,precip,start_long,start_lat,end_lat,end_long
6,0.103728,-0.846062,-1.221774,-0.529655,-2.962060,-1.681793,-2.252714,1.548811,-1.916976,-1.912579,-0.21064,0.673518,-0.330789,-0.640705,0.042858
19,-0.393590,-0.381202,1.147967,-0.529655,-2.962060,-1.681793,-2.252714,1.548811,-1.916976,-1.912579,-0.21064,-1.539020,-0.087605,0.104951,-1.515448
28,-1.147102,1.193323,-0.339298,-0.529655,-2.962060,-1.681793,-2.252714,1.548811,-1.916976,-1.912579,-0.21064,-0.073792,0.429468,0.818279,-0.057265
30,-1.071751,-1.160967,-0.463908,-0.529655,-2.962060,-1.681793,-2.252714,1.548811,-1.916976,-1.912579,-0.21064,0.464061,-0.354144,-0.229201,1.055508
59,-1.177243,0.098654,-0.475187,1.887966,-2.746709,-1.681793,-2.252714,1.548811,-2.092559,-2.088108,-0.21064,0.907349,-0.194487,-0.341899,0.679239

## Plotting the data

In [24]:
#sns.pairplot(data=BS_scaled, hue="user_type")
# not working

## K-means

In [25]:
from sklearn.cluster import KMeans

In [26]:
k_max = 50  # We have c. 150 datapoints, more than 50 clusters are definitely
            # not reasonable!

In [27]:
clusters = []
losses = []

for k in range(k_max):
    model = KMeans(n_clusters=k+1)
    model.fit(BS_scaled)
    clusters.append(k+1)
    losses.append(model.inertia_)

KeyboardInterrupt:

In [ ]:
plt.plot(clusters, losses)
plt.ylabel("Loss")
plt.xlabel("Number of clusters")
plt.show()