Importing the libraries/packages

In [2]:
# libraries
import numpy as np # used for handling numbers
import pandas as pd # used for handling the dataset

import dtale # used for better presentation of dataframes

c:\Users\annal\anaconda3\lib\site-packages\dtale\dash_application\charts.py:7: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
c:\Users\annal\anaconda3\lib\site-packages\dtale\dash_application\charts.py:8: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

Import of the dataset

In [3]:
DF_bikesharing = pd.read_csv('.\data\chicago_2017.csv')
dtale.show(DF_bikesharing)

In [4]:
DF_bikesharing.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,3/31/2017 23:59:07,4/1/2017 00:13:24,66,171,Clinton St & Lake St,May St & Cullerton St,5292,Subscriber
1,3/31/2017 23:56:25,4/1/2017 00:00:21,199,26,Wabash Ave & Grand Ave,McClurg Ct & Illinois St,4408,Subscriber
2,3/31/2017 23:55:33,4/1/2017 00:01:21,520,432,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,696,Subscriber
3,3/31/2017 23:54:46,3/31/2017 23:59:34,110,142,Dearborn St & Erie St,McClurg Ct & Erie St,4915,Subscriber
4,3/31/2017 23:53:33,4/1/2017 00:00:28,327,331,Sheffield Ave & Webster Ave,Halsted St & Blackhawk St (*),4247,Subscriber

In [ ]:
MLDL Projekt GitHub -> Schritte 2.1 - 2.4