# 1. Data Preparation

## Importing the libraries/packages

In [20]:
# libraries
import numpy as np # used for handling numbers
import pandas as pd # used for handling the dataset

import dtale # used for better presentation of dataframes

# Import of the dataset

In [21]:
DF_bikesharing = pd.read_csv('.\data\chicago_2017.csv')

Intermediate step of parsing the date & time format!

Also -> import of the weather data & perfoming checks like -> data time period actual 2017 or any other data present? Cleaning of data if necessary.

## Data overview

In [22]:
# Full visualization of dataset
dtale.show(DF_bikesharing, ignore_duplicate=True)

## Data inspection

In [23]:
# description of index, entries, columns, data types, memory info
DF_bikesharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3829014 entries, 0 to 3829013
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   start_station_id    int64
 3   end_station_id      int64
 4   start_station_name  object
 5   end_station_name    object
 6   bike_id             int64
 7   user_type           object
dtypes: int64(3), object(5)
memory usage: 233.7+ MB

In [24]:
# checking out first few rows
DF_bikesharing.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,3/31/2017 23:59:07,4/1/2017 00:13:24,66,171,Clinton St & Lake St,May St & Cullerton St,5292,Subscriber
1,3/31/2017 23:56:25,4/1/2017 00:00:21,199,26,Wabash Ave & Grand Ave,McClurg Ct & Illinois St,4408,Subscriber
2,3/31/2017 23:55:33,4/1/2017 00:01:21,520,432,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,696,Subscriber
3,3/31/2017 23:54:46,3/31/2017 23:59:34,110,142,Dearborn St & Erie St,McClurg Ct & Erie St,4915,Subscriber
4,3/31/2017 23:53:33,4/1/2017 00:00:28,327,331,Sheffield Ave & Webster Ave,Halsted St & Blackhawk St (*),4247,Subscriber

In [25]:
# number of columns & rows
DF_bikesharing.shape

(3829014, 8)

In [26]:
# column names
DF_bikesharing.columns

Index(['start_time', 'end_time', 'start_station_id', 'end_station_id',
       'start_station_name', 'end_station_name', 'bike_id', 'user_type'],
      dtype='object')

In [27]:
# number of unique values of a column
DF_bikesharing["start_time"].nunique()

2823388

In [28]:
# number of unique values alltogether
DF_bikesharing.columns.unique()

Index(['start_time', 'end_time', 'start_station_id', 'end_station_id',
       'start_station_name', 'end_station_name', 'bike_id', 'user_type'],
      dtype='object')

In [29]:
# value counts
DF_bikesharing['end_time'].value_counts()

10/19/2017 17:39      58
10/4/2017 17:37       57
10/2/2017 17:38       57
10/5/2017 17:26       56
10/4/2017 17:16       55
                      ..
5/15/2017 22:46:22     1
5/15/2017 22:54:41     1
5/15/2017 22:48:55     1
5/15/2017 22:58:39     1
10/1/2017 0:06         1
Name: end_time, Length: 2736001, dtype: int64

## Check for empty values

In [30]:
# show null/NA values per column
DF_bikesharing.isnull().sum()

start_time            0
end_time              0
start_station_id      0
end_station_id        0
start_station_name    0
end_station_name      0
bike_id               0
user_type             0
dtype: int64

In [31]:
# if needed later: drop all rows containing null
# DF_bikesharing.dropna()

In [32]:
# if needed later: replace all na values with a different value, eg. -9999
# DF_bikesharing.fillna(-9999)

## Column operation

In [33]:
# add a new calculated column, like 'ride time' 
# by calculating difference between end time and start time of ride
# default command: df['newcol']=df["column_name1"]-df["column_name2"]

# exact command to calculate time differences tdb!
# DF_bikesharing[ride_time]=

## Check for numeric

## Check for duplicates

Further to dos:
Merging bikesharing and weather dataframe into one, beforehand splitting date and time column into seperate columns (hour, day, month & weekday)
Importing station data
Merging dataframe with station data
Add new columns like ride time (at this point or earlier?), ride distance, speed...